//primer esquema de colores
$white: #fff;
$platinum: #e8ebe4;
$gray: #bec1bb;
//segundo esquema de colores
$blue-bell: #a491d2;
$soap: #cdc3e6;
$pale-lavender: #d4dcff;
//tercer esquema de colores
$dark-jungle: #1b1f21;
$outer-space: #444759;
$old-silver: #828485;
//font family
$roboto: 'Roboto',
sans-serif;
$open-sans: 'Open Sans',
sans-serif;
//peso de fuente
$regular: 400;
$bold: 700;
//tamaño de fuente
$large: 45px;
$medium: 16px;
$small: 14px;
$x-small: 10px;